/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('raleway/raleway-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
    url('raleway/raleway-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('raleway/raleway-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('raleway/raleway-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('raleway/raleway-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('raleway/raleway-v10-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: url('raleway/raleway-v10-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Raleway Italic'), local('Raleway-Italic'),
    url('raleway/raleway-v10-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('raleway/raleway-v10-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('raleway/raleway-v10-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('raleway/raleway-v10-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('raleway/raleway-v10-latin-italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('raleway/raleway-v10-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Raleway Bold'), local('Raleway-Bold'),
    url('raleway/raleway-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('raleway/raleway-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('raleway/raleway-v10-latin-700.woff') format('woff'), /* Modern Browsers */
    url('raleway/raleway-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('raleway/raleway-v10-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('montserrat/montserrat-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat-Regular'),
    url('montserrat/montserrat-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('montserrat/montserrat-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('montserrat/montserrat-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('montserrat/montserrat-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('montserrat/montserrat-v6-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('montserrat/montserrat-v6-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat-Bold'),
    url('montserrat/montserrat-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('montserrat/montserrat-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('montserrat/montserrat-v6-latin-700.woff') format('woff'), /* Modern Browsers */
    url('montserrat/montserrat-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('montserrat/montserrat-v6-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
